<div class="card-container">
    <h2 class="title-text card">Dashboard</h2>

    <div class="charts-container card py-4">
      <div class="box-charts">
        <div class="card-item-1 item" style="background: #22577a">
          Item descrição
          <hr>
          R$ 150000
        </div>
        <div class="card-item-2 item" style="background: #57cc99">
          Item descrição
          <hr>
          R$ 150000
        </div>
        <div class="card-item-3 item" style="background: #9e2a2b">
          Item descrição
          <hr>
          R$ 150000
        </div>
        <div class="card-item-4 item" style="background: #22577a">
          Item descrição
          <hr>
          R$ 150000
        </div>
        <div class="card-item-5 item" style="background: #57cc99">
          Item descrição
          <hr>
          R$ 150000
        </div>
        <div class="card-item-6 item" style="background: #9e2a2b">
          Item descrição
          <hr>
          R$ 150000
        </div>
    </div>
</div>
