@import url("../../../style.css");

.message-success {
  margin-right: 10px;
  border-radius: 5px;
}

.message-success-login {
  width: 23rem;
  border-radius: 5px;
}

.message-success-register {
  border-radius: 5px;
}

.p-msg {
  padding: 0.8rem 0px;
}

/* .alert {
  position: relative;
}

.alert .close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1em;
}

.alert .fa {
  margin-right: 0.3em;
} */
