<div id="alert-msg" class="bg-red-msg c-white message-success d-none ">
  <p class="mx-5 p-msg">Inserir Data Inicial e Data Final</p>
</div>


<!--Verificando Login-->
<div id="alert-msg-login" class="bg-red-msg c-white message-success-login d-none animate__animated animate__zoomIn">
  <p class="mx-5 p-msg">Please check invalid Email or Password</p>
</div>

<!--Cadastrando -->
<div id="alert-msg-register" class="bg-green c-white message-success-register d-none animate__animated animate__zoomIn">
  <p class="mx-5 p-msg">registration successful!</p>
</div>
