<div class="box-login bg-blue-4">
    <div class="box-login-logo">
      <div class="undraw-logo">
        <img src="../../../assets/media/logos/undraw_forgot.svg" alt="" />
      </div>
      <app-footer class="footer"></app-footer>
    </div>
    <div class="box-login-form">
      <div class="form" name="f1">
        <div class="form-login">
          <img src="../../../assets/Logotipo_BMS_branco.png" alt="" />
  
          <form id="form">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                name="requestForgot.userEmail"
                [(ngModel)]="requestForgot.userEmail"
                placeholder="E-mail *"
                required
              />
            </div>
            <div class="form-btn mt-5">
              <button
                type="submit"
                class="btnSubmit center mx-2"
                (click)="changePassword()"
              >
                Redefinir Senha
              </button>
              <button
                type="submit"
                class="btnSubmit center mx-2"
                [routerLink]="''"
              >
                Voltar Para Login
              </button>
            </div>
          </form>
        </div>
      </div>
      <app-footer class="footer"></app-footer>
    </div>
  </div>
  