@import url(../../../style.css);

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #56c2b7;
}
.ng-invalid:not(form) {
  border-left: 5px solid #e63946;
}

span {
  font-size: 1.5rem;
}

form {
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input {
  border: none;
}
label {
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 36px;
  border-radius: 5px;
}

.form-control:focus {
  box-shadow: none;
}

.material-icons {
  margin: 0px 10px;
}

.form {
  width: 100%;
  height: auto;
}

.form-btn {
  display: flex;
}

.form-login {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-login > img {
  width: 200px;
}

.form-control {
  margin: 2rem 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.box-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-login-logo {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.undraw-logo img {
  width: 30rem;
}

.box-login-form {
  color:#fff;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:url(../../../assets/media/logos/bg_BMS.png);
  background-size: cover;
  background-position-x: right;
  /* background-image: linear-gradient(to left top, #170ace, #2950d1, #1285d1, #11bcde, #624ae9, #9c4ae9, #a437e4); */
  height: 100vh;
}

.box-login-form > .footer {
  display: none;
}

.box-login-form > form {
  width: 100%;
}

.btnSubmit {
  width: 48%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* */

@media only screen and (max-width: 913px) {
  .undraw-logo img {
    display: none;
  }

  .box-login-logo  {
    display: none;
  }

  .box-login-form {
    width: 100%;
    flex-direction: column;
  }

  .box-login-form > .footer {
    display:contents;
    position: fixed;
    bottom: 0;
  }

  .form-control {
    margin: 2rem 0px;
  }
}


