<div class="box-login bg-blue-4">
  <div class="box-login-logo">
    <div class="undraw-logo">
      <img src="../../../assets/media/logos/undraw_access.svg" alt="" />
    </div>
    <app-footer class="footer"></app-footer>
  </div>
  <div class="box-login-form">
    <div class="form" name="f1">
      <div class="form-login">
        <img src="../../../assets/Logotipo_BMS_branco.png" alt="" />
        <form>
          <div class="d-flex justify-content-sm-between mb-2">
            <span>Create Account</span>
            <app-alert-message></app-alert-message>
          </div>
          <div class="form-group">
            <label for="name" class="d-flex">
              <input
                type="text"
                class="form-control"
                #name="ngModel"
                [(ngModel)]="usuario.firstName"
                id="name"
                name="name"
                placeholder="Nome *"
                required
              />
            </label>
          </div>
          <div class="form-group">
            <label for="name" class="d-flex">
              <input
                type="text"
                class="form-control"
                #lastname="ngModel"
                [(ngModel)]="usuario.lastName"
                id="lastname"
                name="lastname"
                placeholder="Sobrenome *"
                required
              />
            </label>
          </div>
          <div class="form-group">
            <label for="cpf" class="d-flex">
              <input
                type="text"
                class="form-control"
                #cpf="ngModel"
                [(ngModel)]="usuario.cpf"
                matInput
                mask="000.000.000-99"
                id="cpf"
                name="cpf"
                placeholder="CPF *"
                required
              />
            </label>
          </div>
          <div class="form-group">
            <label for="email" class="d-flex">
              <input
                type="text"
                class="form-control"
                #email="ngModel"
                [(ngModel)]="usuario.userEmail"
                id="email"
                name="email"
                placeholder="E-mail *"
                required
              />
            </label>
          </div>
          <div class="form-group">
            <label for="password" class="d-flex pass">
              <input
                [type]="hide ? 'password' : 'text'"
                type="password"
                class="form-control"
                #password="ngModel"
                [(ngModel)]="usuario.userPassword"
                id="password"
                name="password"
                placeholder="Senha *"
                required
              />
              <i
                class="material-icons c-blue-3"
                matSuffix
                (click)="hide = !hide"
                >{{ hide ? "visibility_off" : "visibility" }}</i
              >
            </label>
          </div>
          <div class="form-btn mt-2">
            <button
              type="submit"
              class="btnSubmit center"
              [routerLink]="['cadastro']"
              [disabled]=""
              (click)="createAccount()"
            >
              Cadastrar
            </button>
            <button
              type="submit"
              class="btnSubmit center"
              [routerLink]="['']"
            >
              Voltar para Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

